/* Body styles */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #20717f;
  color: black;
  margin: 0;
  padding: 10px;
  position: relative;
}



/*Basic structure of slider*/
.container{
    width: 30%;
    position: absolute;
    transform: translate(0%,10%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 0px solid black;
    border-radius: 0px;

}

/*Area of images*/
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

img{
    width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}









/*NAVBAR

/* Style the links inside the navigation bar */
.topnav a {
 

  color: black;
  text-align:right;
list-style: none;
  position: relative;


  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
    z-index: 2;
}

#nav ul li {
	display: inline;

margin: 0 10px 0 10px;
float: float;

}


/* Change the color of links on hover */
.topnav a:hover {
  color: #64251a;

}

/* Add an active class to highlight the current page */
.topnav a.active {

  color: white;

 background-color: #20717f;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}















/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}







/* FIxed background image */
.fixed-image {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: 200px;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* nav styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}



.text-container {
  width: 50%;
  float: left;
  position: relative;
  z-index: 2;
  margin-left: 50px;

}

.video-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;

}

.video-container {
  margin-bottom: 10px;
}

.vid-description {
  font-size: 20px;
  text-align: left;
  margin-left: 0px;
  margin-bottom: 10px;
}

.description h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description p {
  max-width: 60%;
  margin-bottom: 20px;
  margin-left: 100px;
}

p {
  color: black;
  font-size: 24px;
  font-family: monospace;
  text-align: left;
  margin-top: 50px;
}

footer {
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  margin-left: 50px;
  margin-bottom: -100px;
  position: fixed;
  bottom: 0;
}

.logo {
  width: 400px;
  height: auto;
}

.text-limit {
  max-width: 60%;
}



.flex-parent-element {
  display: flex;
  width: 65%;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}
