/* Reset default styles */
* {
  margin: 20;
  padding: 20;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #2c2c2c;
  color: black;
  padding: 20px;
  background-image: url("Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 400px;
  height: auto;
}


.text-container {
  width: 50%;
  float: left; /* to make sure the container doesn't take up the full width */
}

p {
  color: black;
  font-family: monospace;
  text-align: left;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 20px; /* Adjust the font size as desired */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 80px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;

}

p {
  font-size: 24px;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  margin-bottom: 50px;
}

.video {
  flex: 1;
  margin-right: 20px;
}

.description {
  flex: 1;
}

.description h3 {
  font-size: 24px;
  margin-bottom: 10px;
}




.slideshow-container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mySlides img {
  max-width: 100%;
  max-height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


